

h1 {
    font-size: 24pt;
    
    color:#0728F6
}


h2 {
    font-size:20;
    color: #455CED
}

h3 {

    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color:#6272D6
}

p {
    font-size: 12pt;
    font-family: "Gluten", cursive;;
}

html {
    background-color:  #B6EEF0 ;
}

strong {
     color:#6272D6
}