#caja1 {
    background-color:  yellow;
    margin-left: 30%;
    margin-right: 20% px;
    margin-top:  30% px;
    margin-bottom: 0%;
    padding: 10 px;
    border-right:6 px ;
    border-right-color: blue;
    border-bottom: 2 px;
    border-bottom-color: green;
    border-top: 4px;
    border-top-color: red;
    border-top-style:solid ;
    border-bottom-style:solid;
    border-right-style:solid;
  

}


