
#contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.apartado {
    flex: 1 1 200px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}


#introduccion { background-color: #3498db; }   
#adaptativo   { background-color: #e67e22; }  
#responsive   { background-color: #27ae60; }  
#conclusion   { background-color: #9b59b6; } 


@media (max-width: 768px) {
    #contenedor {
        flex-direction: column;
    }
    .apartado {
        width: 100%;
    }
}



@media (min-width: 769px) and (max-width: 992px) {

    #contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #introduccion {
        grid-column: 1 / 3;
        background-color: #888; /* gris */
    }


    #conclusion {
        grid-column: 1 / 3;
        background-color: #888; 
    }
}


@media (min-width: 993px) {
    #contenedor {
        display: flex;
        flex-direction: row;
    }

    .apartado {
        flex: 1;
    }
}
